/* $Id: ie.css,v 1.2 2009/08/12 08:03:52 johnalbin Exp $ */

/**
 * @file
 * CSS targeted specifically for Internet Explorer for Windows.
 *
 * Any CSS in this file will apply to all versions of IE. You can target
 * specific versions of IE by using conditional comments. See your sub-theme's
 * .info file for an easy way to use them.
 *
 * While building your theme, you should be aware that IE limits Drupal to 31
 * stylesheets total. The work-around for the bug is to enable CSS aggregation
 * under: admin / settings / performance.
 */


/*
 * Tabs
 */

ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab {
  cursor: pointer;
}

/*
 * Drupal nodes
 */

.node-unpublished .node-inner>* {
  position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}

/*
 * Drupal admin tables
 */
tr.even th,
tr.even td,
tr.odd th,
tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

/*
 * Markup free clearing
 */
* html .clearfix {
  zoom: 1;
}

/*
 * http://drupal.org/node/552156
 */
 /*
#header,
#main {
  overflow: hidden;
  width: 100%;
}*/

div.tabs,
ul.primary {
  overflow: hidden;
  width: 100%;
}

ol {
  padding-left: 0;
  margin-left: 0;
}
ol li {
  margin: 0 0 0 2em;
  list-style: decimal outside none !important;
}