/* $Id$ */

/**
 * @file
 * Misc Styling
 */

ul,
ul ul,
ul ul ul,
ul ul ul ul {
  list-style: circle url(../images/menu-leaf.gif);
}

ul li.leaf,
ul.menu li.leaf,
.item-list ul li.leaf {
  list-style: circle url(../images/menu-leaf.gif);
}

ul li.expanded,
ul.menu li.expanded,
.item-list ul li.expanded {
  list-style: disc url(../images/menu-expanded.gif);
}

ul li.collapsed,
ul.menu li.collapsed,
.item-list ul li.collapsed {
  list-style: square url(../images/menu-collapsed.gif);
}

ol          { list-style: decimal; }
ol ol       { list-style: lower-alpha; }
ol ol ol    { list-style: decimal; }

/* Book */

#book-outline {
  min-width: inherit;
}


/* */

fieldset legend a:hover,
fieldset legend a:focus {
  border-bottom: none;
  text-decoration: underline;
}

fieldset {
  border: solid #DADCE0 1px;
  background-color: #F8F9FA;
}

fieldset.collapsed {
  background-color: transparent;
}

/* */

pre {
  background-color: #FBFCFE;
  border: 2px solid #DADCE0;
  overflow: auto;
  padding: 0.5em;
}