/* $Id: pages.css,v 1.18 2009/11/05 11:07:02 johnalbin Exp $ */

/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
}

#page {
  color: #393939;
}

/*
 * The skip-to-nav link will be completely hidden until a user tabs to the link.
 */
#skip-to-nav a,
#skip-to-nav a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-to-nav a:hover,
#skip-to-nav a:active,
#skip-to-nav a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header {
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  /*float: left; *//* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;

  margin: -8px 0 0 8px;  
  position: absolute;
  z-index: 10;
  /*top: 0;
  left: 10px;
  position: absolute;
  z-index: 1;*/
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  padding-top: 35px;
  padding-left: 120px;  /* 120px = logo width + margin */  
}

h1#site-name,
div#site-name /* The name of the website */ {
  font-size: 2em;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
}

#name-and-slogan a {
  color: #fff;
  border-bottom: none;
}

#site-slogan /* The slogan (or tagline) of a website */ {
  color: #ccc;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
}

.region-header /* Wrapper for any blocks placed in the header region */ {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
  padding: 15px;
  margin: 0 0 10px 0;
  border: 2px solid #96ADC8;
  background: #BCD1EA url(../images/bg-mission.gif) repeat-x bottom left;
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0;
}

h1.title /* The title of the page */ {
  border-bottom: 1px solid #BFC4CF;
  color: #393939;
  font-weight: normal;
  margin-bottom: 5px;
}

tr.even /* Some tables have rows marked even or odd. */ {
  background-color: #FBFCFE; /* Drupal core uses a #eee background */
}

tr.odd {
  background-color: #FFFFFF; /* Drupal core uses a #eee background */
}

tr.even, tr.odd {
  border-color: #DADCE0;
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager .pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
  background-color: #FFFFFF; 
  border: 1px solid #DADCE0;
}

.pager .pager-current {
  background-color: #F7F8FA; 
}

.pager a:hover {
  border-color: #BABFC6;
  color: #555555;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
}

.feed-icons a {
  border: none;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
  padding: 5px 8px 20px 8px;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
  padding: 5px 8px 20px 8px;
}

/*
 * Footer
 */
#footer {
}

#footer .section {
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
  text-align: center;
  vertical-align: middle;
  line-height: 37px;
  height: 37px;
}

.region-footer {
}

/*
 * Closure
 */
.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users.
 */
.element-invisible {
  height: 0;
  overflow: hidden;
  position: absolute;
}
