/* $Id: page-backgrounds.css,v 1.8 2009/11/04 20:57:49 johnalbin Exp $ */

/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
  background: #FDFEFF;
}

#page-wrapper {
}

#page {
}

#header {
  background: url(../images/bg-header.gif) repeat-x;
}

#header .section {
}

.sidebar-first #main-wrapper,
.two-sidebars #main-wrapper {
  background: url(../images/bg-left.png) repeat-y;
}

.sidebar-second #main,
.two-sidebars #main {
  background: url(../images/bg-right.png) right repeat-y;
}

#footer {
  background: url(../images/bg-footer.gif) repeat-x;
}

#footer .section {
}
